@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

.newsHaedline {
    font-family: 'Cormorant Garamond', serif;
    font-size: 8rem;
    padding: 10vh 0 2vh 0;
    color: rgb(108, 118, 89);
    text-align: center;
}

.newsSubtitle h2 {
    font-size: 1.8rem;
    padding: 1vh 0;
    color: rgb(108, 118, 89);
    font-family: 'Cormorant Garamond', serif;
}

.newsSubtitle {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border-top: 4px double rgb(108, 118, 89);
    border-bottom: 4px double rgb(108, 118, 89);
    margin: 0 10vw;
    gap: 6vw;
}

.newsSubtitle h2:first-of-type {
    text-align: right;
}

.newsSubtitle h2:nth-of-type(2) {
    text-align: center;
}

.newsSubtitle h2:nth-of-type(3) {
    text-align: left;
}

.articleNews {
    padding: 3vh 9vw;
}

.articleImg {
    display: flex;
    flex-direction: column;
}

.articleImg img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

.articleImg h3 {
    font-family: 'Cormorant Garamond', serif;
    color: rgb(108, 118, 89);
    text-align: center;
    font-size: 4rem;
    padding: 2vh 0;
}

.articleNews p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

.articleNews p span {
    font-weight: 700;
}

.gridNews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}

.gridNews2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    border-bottom: 4px double rgb(108, 118, 89);
    padding-bottom: 10vh;
}

.articleNews div:nth-of-type(6) {
    padding-bottom: 4vh;
}

.articleNews div:nth-of-type(7) {
    padding-bottom: 10vh;
    border-bottom: 4px double rgb(108, 118, 89);
}

.articleNews div:nth-of-type(3),
.articleNews div:nth-of-type(5) {
    display: flex;
    justify-content: space-between;
    padding: 4vh 0;
}

.articleNews div:nth-of-type(3) figure img,
.articleNews div:nth-of-type(5) figure img {
    width: 25vw;
    object-fit: cover;
    object-position: center;
    height: 70vh;
}

.articleNews div:nth-of-type(3) figure figcaption,
.articleNews div:nth-of-type(5) figure figcaption {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 1vh;
}