.labelKontakt {
    display: block;
    padding-bottom: 1vh;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(108, 118, 89);
    font-weight: 500;
}

.firstBlock {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 2vh;
}

form {
    margin: 4vh auto;
    width: 60vw;
}

.h1Kontakt {
    padding-top: 2vh;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

.firstBlock div input {
    width: 27.5vw;
    padding: 1vh 1vw;
    font-family: 'Roboto', sans-serif;
    border: 2px solid rgb(108, 118, 89);
    font-size: 1.4rem;
    border-radius: 3px;
}

.secondBlock,
.thirdBlock {
    padding-bottom: 2vh;
    width: 100%;
}

.secondBlock input {
    width: 100%;
    padding: 1vh 1vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    border-radius: 3px;
    border: 1px solid black;
}

.thirdBlock textarea {
    width: 100%;
    padding: 1vh 1vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    border: 2px solid rgb(108, 118, 89);
    border-radius: 3px;
}

.submitKontakt {
    width: 100%;
    padding: 1.5vh 1vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    border: 2px solid rgb(108, 118, 89);
    border-radius: 3px;
    color: rgb(108, 118, 89);
}

.submitKontakt:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(108, 118, 89);
}

.popUp {
    position: absolute;
    top: 30vh;
    left: 27.5vw;
    padding: 10vh 2vw;
    text-align: center;
    background-color: rgb(186, 197, 164);
    width: 45vw;
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

.popUp h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    padding-bottom: 2vh;
}

.popUp p {
    color: rgb(31, 41, 13);
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

.popUp button {
    border: 1px solid rgb(108, 118, 89);
    background-color: white;
    color: rgb(108, 118, 89);
    padding: 1vh 1vw;
    font-size: 1.4rem;
    border-radius: 5px;
    margin-top: 2vh;
}

.popUp button:hover {
    color: white;
    background-color: rgb(108, 118, 89);
    cursor: pointer;
}

.lageplan {
    display: block;
    margin: 0 auto 16vh auto;
    width: 100vw;
}

.haedlineKontakt {
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
    color: rgb(108, 118, 89);
    padding: 15vh 0 0 10vw;
}

.kontakt {
    display: flex;
    justify-content: space-between;
    padding: 20vh 10vw;
    background-color: rgb(108, 118, 89);
    margin-top: 15vh;
    color: white;
}

.kontaktVorstaende {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    margin-right: 5vw;
}

.kontakt h2,
.kontakt p {
    font-family: 'Roboto', sans-serif;
}

.kontakt h2 {
    font-size: 2rem;
}

.kontakt p {
    font-size: 1.6rem;
}

.kontakt div p:first-of-type {
    padding-top: 2vh;
}

.kontakt h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2.4rem;
    padding-bottom: 5vh;
    font-weight: 400;
}